@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-extrabold lg:text-6xl text-cta;
}

h3 {
  @apply text-2xl lg:text-3xl text-fontprimary font-bold;
}

h5 {
  @apply text-lg lg:text-2xl text-fontsecondary;
}

button {
  @apply px-4 py-2 rounded-2xl;
}
